* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    display: grid;
    grid-template-areas:
        "h h h"
        "a m m"
        "f f f";
    grid-template-columns: 300px 1fr; 
    grid-template-rows: 50px 1fr minmax(30px, 50px);
    grid-gap: 0px;
    overflow: hidden;
    height: 100vh; 
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: a;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.textoaside {
    color: rgb(48, 44, 44);
    text-align: center;
}

.img{
    padding: 10px;
}

nav menu {
    list-style-type: none;
    font-weight: bold;
    color: antiquewhite;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

main{
    grid-area: m;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}


p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    padding-bottom: 0px;
    text-align: justify;
}

.titulo{
    padding-left: 10px;
    background-color: rgb(168, 78, 78);
    color: antiquewhite;
}

h2{
    padding: 15px;
}

section{
    padding: 10px;
}

header {
    background-color: rgb(168, 78, 78);
    justify-content: center;
    grid-area: h;
}

header nav {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu a:link {
    color: antiquewhite;
}

menu a:visited {
    color: antiquewhite;
}

footer {
    grid-area: f; 
    background-color: #f1f1f1; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    font-size: 0.9rem;
    border-top: 1px solid #ccc;
}


footer p {
    padding: 0 5px;
    text-align: center;
}

ul{
    padding-left: 25px;
    list-style-position: outside;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li {
    margin-bottom: 5px;
    text-align: left;
}


aside a, footer a {
    text-decoration: none; 
    color: rgb(34, 32, 32); 
    font-weight: bold;
}

aside a:hover, footer a:hover {
    text-decoration: underline; 
    color: rgb(48, 44, 44); 
}


/* --- CONFIGURAÇÃO PARA CELULAR (Telas até 600px) --- */
@media screen and (max-width: 600px) {
    body {
        grid-template-areas: 
            "h h h"
            "m m m"
            "f f f";
        grid-template-columns: 1fr;
    }

    aside {
        display: none; /
    }

    nav menu {
        font-size: 12px; 
        padding: 0;
    }


    #perfil-celular {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
    }

    #perfil-celular img {
        width: 120px;
        border-radius: 50%;
    }
}

/* --- CONFIGURAÇÃO PARA COMPUTADOR (Telas maiores que 600px) --- */
@media screen and (min-width: 601px) {
    #perfil-celular {
        display: none; 
    }
}
